nav {
  background: #C9BFBF;
  grid-area: nav; 
}

header {
  background: #707070;
  grid-area: header;
  text-align: center; 
}

section {
  background: #ABABAB;
  grid-area: section; 
}

footer {
  background: #707070;
  grid-area: footer;
  font-size: small;
  text-align: center; 
}

body {
  display:grid;
}

